<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app" class="m-4"> 
        <h3>Upload your Food here !</h3>

        <input type="file" @change="onFileChange" accept="image/*"/>

        <div id="preview">
          <img v-if="uploaded" :src="uploaded" />
        </div>

        <button @click="addImg" class="btn btn-primary" v-on:submit.prevent="onSubmit">Analyse Image</button>
            <div class="text-success" v-if="imgAdded">
                Image have been successfully uploaded <br>
                <br>
            </div>
    </div>

    <script>
        var get_all_URL = "http://localhost:5000/images";
        // Add/Modify following code
        new Vue({
            el: '#app',
            data: {
                uploaded: '',
                imgAdded: false,
            },
            methods: {
                onFileChange(e) {
                    const file = e.target.files[0];
                    this.uploaded = URL.createObjectURL(file);
                },
                getAllData: function () {
                    // on Vue instance created, load the book list
                    const response =
                        fetch(get_all_URL)
                            .then(response => response.json())
                            .then(data => {
                                console.log(response);
                                if (data.code === 404) {
                                    // no book in db
                                    this.message = data.message;
                                } else {
                                    this.images = data.data.images;
                                }
                            })
                            .catch(error => {
                                // Errors when calling the service; such as network error, 
                                // service offline, etc
                                console.log(this.message + error);

                            });

                },
                addImg: function () {
                    // reset data
                    this.imgAdded = false;
                    this.uploaded = "";

                    let jsonData = JSON.stringify({
                        images: this.uploaded,
                    });

                    fetch(`${get_all_URL}/${this.images}`,
                        {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: jsonData
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            result = data.data;
                            console.log(result);
                            switch (data.code) {
                                case 201:
                                    this.imgAdded = true;                        
                                    this.getAllData();
                                    break;
//                                case 400:
//                                case 500:
  //                                  this.addBookError = data.message;
    //                                break;
                                default:
                                    throw `${data.code}: ${data.message}`;
                            }
                        })
                }
            }
        })
    </script>

</body>
</html>