<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}Upload Image{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Vue JS -->
    <script type="text/javascript" src={{ url_for('static', filename="vue.js")}}></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    

    <script>

        const file=document.getElementById('file')
        //const img=document.getElementById('img')
        file.addEventListener('change',ev=>{
            const formdata= new FormData()
            formdata.append("image",ev.target.files[0])
            fetch("https://api.imgur.com/3/image/",{
                method:"post",
                headers:{
                    Authorization: "Client-ID ca6ebc97e929914"
                },
                body: formdata
            }).then(data=>data.json()).then(data=>{
                
                const linky = data.data.link
                fetch(`/ana/${linky}`)
                    .then(function(response){
                        return response.text()
                    }).then(function(text){
                        console.log('GET response text:')
                        console.log(text)
                    })
            })
        })
        // Add/Modify following code
    </script>

</body>
</html>