{% extends "base.html" %} {% block title %} Analyse Photograph {% endblock %}

{% block content %}
<div id="app" class="m-4"> 
    <h3>Upload your Food here !</h3>
<form method="POST">
    <div class="form-group">
        <label for="upload"> Upload Image of Food to Analyze </label> <br>

        <input type="file" id='file' name="file" @change="onFileChange" accept="image/*"/>
    </div>
    <div id="preview">
      <img v-if="uploaded" :src="uploaded" />
    </div>
    <button type="submit" class="btn btn-primary" @click="addImg">Analyze Image</button>
    <!-- <button @click="addImg" class="btn btn-primary" v-on:submit.prevent="onSubmit">Analyse Image</button>
        <div class="text-success" v-if="imgAdded">
            Image have been successfully uploaded <br>
            <br>
        </div> -->
</form>    
    
</div>
{% if boolean == True %}
<div>

</div>
<script>
    var text = JSON.parse('{{ text | tojson | safe }}')
    
</script>
{% endif %}
{% endblock %}